#root {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.App {
  display: flex;
  width: 100vw;
  max-height: 100vh;
  aspect-ratio: 1920 / 1080;

  background-image: url(lying-cat.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}
